body {
  background-color: #d9d9d9;
}

.jumbotron {
  background-color: #8c0d26;
}

body img {
  margin-left: 30px;
}

h1 {
  text-align: center;
  background-color: #b3ffff;
  border: 2px solid #0000FF;
}

#caption {
  font-style: italic;
  margin: 10px;
  margin-left: 30px;
}

#me {
  text-align: center;
  background-color: #b3ffff;
  border: 2px solid #0000FF;
}

h2 {
  margin-bottom: 20px;
}

.about-me {
  float: left;
  margin: 20px;
}

.my-info {
  float: left;
  width: 500px;
}

.box {
  border: 2px solid black;
}

.panel-heading {
  border: 5px solid;
}

.programming {
  float: right;
  width: 500px;
  line-height: 27px;
}

.programming h3 {
  text-align: center;
}

.note {
  font-style: italic;
}

.projects {
  float: left;
  margin-left: 150px;
}

.projects h2 {
  text-align: center;
  background-color: #b3ffff;
  border: 2px solid #0000FF;
}

#footer {
  float: left;
  line-height: 100px;
  color: black;
}
